.button {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  transition: all var(--speed);
}

.button--default {
  color: var(--white);
  background-color: var(--darkBlue-1);
}

.button--default:hover {
  background-color: var(--darkBlue-2);
}

.button--gray {
  background-color: var(--lightGray);
}

.button--red {
  color: var(--white);
  background-color: var(--red-1);
}

.button--red:hover {
  background-color: var(--red-2);
}

.button[disabled],
.button:disabled {
  background: var(--gray-1);
  cursor: auto;
}
