.menu-item {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  transition: all var(--speed);
}

.menu-item:hover {
  background: var(--lightblue-2);
}

.menu-item--active {
  background: var(--lightblue-2);
}

@media (max-width: 1150px) {
  .menu-item {
    flex-direction: column;
    gap: 0px;
    padding: 5px;
    width: auto;
    font-size: 12px;
  }
}

.pop-up {
  position: absolute;
  z-index: 9999;
}
