.mobile-menu {
  display: none;
  position: fixed;
  z-index: 999;
  background: var(--white);
  width: 100%;
  bottom: 0;
  border-top: 1px solid var(--gray-1);
}

.menu-list {
  display: flex;
  justify-content: space-around;
  max-width: 350px;
  margin: 0 auto;
  padding: 10px 0px;
}

@media (max-width: 1150px) {
  .mobile-menu {
    display: block;
  }
}
