.sidebar {
  position: sticky;
  top: 0;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.menu {
  max-width: 200px;
}

.menu-list {
  display: grid;
  align-items: center;
  gap: 5px;
}

.siderbar-footer {
  display: grid;
  gap: 10px;
}

.username-button {
  text-align: left;
  padding-left: 12px;
}

@media (max-width: 1150px) {
  .sidebar {
    display: none;
  }

  .menu-item {
    flex-direction: column;
    gap: 0px;
    padding: 5px;
    width: auto;
    font-size: 12px;
  }
}
