.group-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 420px));
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
}

.save-button {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.group-name {
  display: grid;
  gap: 10px;
}

.checkbox-wrapper {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 700px) {
  .group-wrapper {
    grid-template-columns: 1fr;
  }
}
