.group-item {
  padding: 15px;
  border-radius: 15px;
  border: 2px solid var(--lightGray);
  cursor: pointer;
  text-align: center;
  transition: all var(--speed);
  overflow: hidden;
}

.group-item:hover {
  border: 2px solid var(--gray-1);
}

.groups-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 25px;
}

@media screen and (max-width: 600px) {
  .groups-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
