.content-container {
  padding: 0 5px;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 50px;
}

.content-container-large {
  max-width: 1250px;
}

.content-container-small {
  max-width: 1000px;
}

.content-container-vertical-center {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media screen and (max-width: 1150px) {
  .content-container {
    padding-bottom: 90px;
  }
}
