.dropdown-container {
  z-index: 100;
  width: 100%;
  padding: 5px;
  border: 2px solid var(--gray-1);
  background: var(--white);
  border-radius: 10px;
  max-height: 250px;
  overflow-y: auto;
}

.dropdown-animatiom-enter {
  opacity: 0;
}

.dropdown-animatiom-enter-active {
  opacity: 1;
  transition: all var(--speed);
}

.dropdown-animatiom-exit {
  opacity: 1;
}

.dropdown-animatiom-exit-active {
  opacity: 0;
  transition: all var(--speed);
}

.item {
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

.item:hover {
  text-decoration: underline;
}
