.main-container {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: minmax(240px, auto) 1fr minmax(240px, auto);
}

@media screen and (max-width: 1700px) {
  .main-container {
    grid-template-columns: 240px auto;
  }
}

@media screen and (max-width: 1150px) {
  .main-container {
    grid-template-columns: auto;
  }
}
