.summary-table {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.fullName-item {
  display: grid;
  grid-template-columns: 20px 140px;
}

.fullName-list {
  display: grid;
  gap: 10px;
}

.students-visitings {
  display: grid;
  overflow-x: auto;
  gap: 10px;
}

.students-visitings-item {
  justify-self: center;
  text-align: center;
  width: 100%;
}

.visit-n {
  color: var(--white);
  background: var(--red-1);
}
