.praepostor-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.username {
  font-size: 12px;
  color: var(--gray-1);
  line-height: 12px;
}

.delete-button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.praepostors-list {
  display: grid;
  gap: 20px;
}

.search-wrapper {
  display: grid;
  gap: 15px;
}

.praepostors-list-wrapper {
  display: grid;
  gap: 30px;
}
