.label {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  transition: all var(--speed);
  color: var(--white);
  background-color: var(--darkBlue-1);
  display: block;
  text-align: center;
  cursor: pointer;
}

.input-placeholder {
  margin-top: 10px;
}

.input {
  display: none;
}
