.input {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid var(--gray-1);
  width: 100%;
  transition: all var(--speed);
}

.input::placeholder {
  color: var(--gray-1);
}

.input:focus {
  border: 2px solid var(--gray-2);
}
