.select-wrapper {
  position: relative;
  width: 100%;
  z-index: 100;
}

.select-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 15px;
  border: 2px solid var(--gray-1);
  border-radius: 10px;
  user-select: none;
}

.select-label svg {
  transition: all var(--speed);
}

.select-label:hover svg {
  transform: translateY(5px);
}

.select-list {
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
}
